@page "/ResetPassword"
@model AspNetIdentityDemo.Pages.ResetPasswordModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width-device-width"/>
    <title>Reset Password</title>
</head>
<body>
    <h1>Reset Your Password</h1>
    <form action="/api/authenticate/resetPassword" method="post">
        <input type="hidden" name="Token" value="@Request.Query["Token"]" />
        <input type="hidden" name="Email" value="@Request.Query["Email"]" />
        <table>
            <tr>
                <td>New Password</td>
                <td>
                    <input type="password" name="NewPassword" />
                </td>
            </tr>
            <tr>
                <td>Confirm Password</td>
                <td>
                    <input type="password" name="ConfirmPassword" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Reset" />
                </td>
            </tr>
        </table>
    </form>
</body>
</html>
